<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2>Welcome, fellow explorer.</h2>
                <p class="text-faded">
                    Currently, I'm building Cerebro Link to decipher interconnected patterns encapsulating the human condition of emotion.
                <br>
                <br>
                    A major goal is to improve outcomes in mental health and wellbeing with <a
                    href="https://mitsloan.mit.edu/ideas-made-to-matter/emotion-ai-explained">Emotion AI | Affective
                    Computing.</a>
                <br>
                <br>

                <blockquote>
                    At this very moment, you are a brain with 86 million neuronal cells, experiencing itself thinking about the way another brain thinks.
                </blockquote>

                    Cerebro utilizes Machine Learning, interdisciplinary research in Cognitive Behavioural Science, and Wearable Technologies to connect the dynamic links between The Brain, Body, Behaviour, and Environments.
                <br>
                <br>
                    I studied Cognitive Behavioral Science <i>(Psychology, Human Computer Interaction, Human Factors Engineering, Research Design and Statistics, Ergonomics, Neuropsychology, Memory,
                    Sensation-Perception, Sociology)</i> and Business at the <a href="https://www.utah.edu/">Univeristy
                    of Utah</a>: a select member of top-tier research institutions in the esteemed <a
                    href="https://www.aau.edu/who-we-are">Association of American Universities (AAU)</a>.
                <br>
                <br>
            </p>
            </div>
        </div>
    </div>
</section>