<header>
    <div class="header-content">
        <div class="header-content-inner">
                <h1>
                    Emerging from <font color="#00dfae">cosmic chaos</font> & stardust <font color="#00dfae">❱</font> <i>humanity</i>
                </h1>
            </div>
        <div class="header-content-inner">
                <h2>
                       I bring abstract concepts to life by fusing art & science; designing products to enhance our lives.
                </h2>
                <br>
                <br>
        <a href="#" class="btn btn-default btn-xl">Get Started!</a>
        
        </div>
    </div>
</header>