<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/tethr-square-logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                tethr
                            </div>
                            <div class="project-description text-faded">
                            Consultant - UX + Psychometric 
                            <br>
                            Peer-to-peer mental health and wellness support community for men to discuss relavent issues in a safe environment.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Photonic House
                            </div>
                                <div class="project-description text-faded">
                                  Immersive Experiential Art Museum and Music Venue.
                             </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tellomee
                            </div>
                            <div class="project-description text-faded">
                                Peer-to-peer marketplace application for lifestyle experiences.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                               Cerebro Link
                            </div>
                            <div class="project-description text-faded">
                                AI Emotion | Affective Computing R/D
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>