<section class="theme-light-bg" id="projects">
    <div class="container">
        <div class="row no-gutter">
                <div class="col-sm-12 col-sm text-center">
                <h2 class="section-heading">projects</h2>
                <hr class="accent">
                </div>
                <div class="col-sm-12 col-sm text-center">
                        <a href="https://www.tethr.men/" target="_blank">
                            <img src="img/tethr/tethr-logotype-dark-bg.png" class="img-responsive" alt="A peer-to-peer application for mental health and wellness supporting a community of men to discuss relavent issues. Facilitating a safe and non judgemental environment."></a>
                                    <div class="project-name"> 
                                        <a href="https://www.tethr.men/" target="_blank">tethr</a>
                                    </div>
                                <div class="project-description">
                                    UX + Psychometric Consultant
                            <br>
                                    Peer-to-peer application for mental health and wellness supporting a community of men to discuss relavent issues; facilitating a safe and non judgemental environment.
                             </div>    
                </div>                            
                <div class="col-sm-12 col-sm text-center"> 
                            <a href="https://www.instagram.com/photonichouse" target="_blank">
                                <img src="img/photonic/ph-logotype.png" class="img-responsive" alt=""></a>
                                <div class="project-name">
                                    <a href="https://www.instagram.com/photonichouse" target="_blank">Photonic House</a>
                                </div>
                                <div class="project-description">
                                     Immersive art museum with 14 interactive experiences and music venue.
                                     Each exhibt served as an experiential marketing showroom for consumer brands.
                             </div>
                </div>
                <div class="col-sm-12 col-sm text-center">
                    <a href="#">
                        <img src="img/tellomee/tellomee_logotype-dark-shadow.png" class="img-responsive" alt="Tellomee, peer-to-peer marketplace for lifestyle experiences"></a>
                    <div class="project-name">
                        Tellomee
                    </div>
                                <div class="project-description">
                                Marketplace application for matching peer-to-peer lifestyle experiences.
                                </div>
                 </div>
                <div class="col-sm-12 col-sm text-center">
                            <a href="#">
                                <img src="img/tellomee/tellomee_logotype-dark-shadow.png" class="img-responsive" alt=""></a>
                                <div class="project-name">
                                    Cerebro Link
                                </div>
                                
                                <span class="d-block p-2 bg-primary text-white">
                                    <div class="project-description">
                                        Emotion AI ⊷ Affective Computing • Interdisciplinary Ꮢ&D
                                        <br>
                                        <br>
                                        To decipher interconnected patterns encapsulating the human condition: emotion
                                        <br>
                                        <br>
                                        "Why do I feel ____?" <br>
                                        "What have I done to feel ____?" <br>
                                        "How can I change feeling ____?" <br>
                                    </div>
                                </span>
                                <span class="d-block p-2 bg-dark text-white">d-block</span>
                      </div>
                   </div>
                </div>
            </div>
        </div>
</section>