<section class="bg-primary" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="accent">
            </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="#">
                            <img src="img/portfolio/tethr-square-logo.jpg" class="img-responsive" alt=""></a>
                                    <div class="project-name">
                                <hr class="light">
                                    Tethr
                                    </div>
                                <div class="project-description">
                                    UX + Psychometric Consultant
                            <br>
                                    A peer-to-peer application for mental health and wellness supporting a community of men to discuss relavent issues; a safe and non judgemental environment.
                             </div>    
                </div>                            
                <div class="col-lg-8 col-lg-offset-2 text-center">
                            <a href="#"">
                                <img src="img/photonic/jerry-hansana-abc4-still.jpg" class="img-responsive" alt=""></a>>
                                <div class="project-name">
                                <hr class="light">
                                    Photonic House
                                </div>
                                <div class="project-description">
                                     Immersive art museum with 14 interactive experiences and music venue.
                                     Each exhibt served as an experiential marketing showroom for consumer brands.
                             </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="#">
                            <img src="img/micro-electro/header3.jpg" class="img-responsive" alt=""></a>
                            <div class="project-name">
                                <hr class="light">
                                     Tellomee
                            </div>
                                <div class="project-description">
                                Marketplace application for matching peer-to-peer lifestyle experiences.

                                </div>
                     </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                            <a href="#">
                                <img src="img/micro-electro/red-neurons.jpg" class="img-responsive" alt=""></a>
                                <div class="project-name">
                                    <hr class="light">
                                    Cerebro Link
                                </div>
                                     <div class="project-description">
                                        Emotion AI | Affective Computing R/D
                                 </div>
                    </div>
                </div>
            </div>
        </div>
</section>