<section class="bg-primary" id="synopsis">
    <div class="container">
        <div class="row">
                <div class="synopsis">
                <p class="text-primary">
                       <h2>
                    Welcome, fellow explorer.
                       </h2>
                      <h3>
                    You ara a brain trying to understand another brain.
                </h3>
            </p>
        <br>

                    I studied Cognitive Behavioral Sciences <i>(Psychology, Human Computer Interaction, Human Factors Engineering, Research Design and Statistics, Ergonomics, Neuropsychology, Memory, Sensation-Perception, Sociology) and Business</i> at the <a href="https://www.utah.edu/">Univeristy</a> of Utah: a top-tier research institution in the renown Association of American Universities <a href="https://www.aau.edu/who-we-are">(AAU)</a>.
                     

                     Pre Med,
                     Neuroscience Clinic,
                      took a lot of hard sciences chemistry, biology
                       biomedical engineering, 
             <br>
            </br>
            </div>
            </div>
        </div>
</section>
