<section class="bg-primary" id="synopsis">
    <div class="container">
        <div class="row">
                <div class="synopsis">
                <p class="text-primary">
                       <h2>
                Welcome, fellow explorer.
                       </h2>
             <br>

                 I'm building Cerebro Link to help you understand why you're feeling 
            <audio src="https://www.youtube-nocookie.com/embed/MWM-qVkBzus?start=3" type="audio/mpeg" controls>
    I'm sorry. You're browser doesn't support HTML5 <code>audio</code>.
</audio>
            <iframe width="10" height="10" display="button" src="https://www.youtube-nocookie.com/embed/MWM-qVkBzus?start=3" frameborder="0"
                    allow="autoplay;" requestfullscreen(false)                    
                <button id="play" class="play-btn">
                 </button>
                </iframe>
                 happy, what interactions lead up to it, and when you will feel hangry next (come on, we've all been there). More precisely, to improve both individual and group outcomes in mental health and wellbeing with Artifical Intelligence.
             <br>
             <br>
                Utilizing Machine Learning and Cognitive Behavioural Science research to connect the dynamic links between The Brain, Body, Behaviour, Environments, and states of Human Emotion over-time; known as <a href="https://mitsloan.mit.edu/ideas-made-to-matter/emotion-ai-explained">Emotion AI or Affective Computing</a>.
            <br>
            <br>
            <blockquote>
                At this very moment, you are a brain experiencing itself by thnking about the experiences of another brain.
            </blockquote>
            <br>
            <br>
                 I studied Cognitive Behavioral Sciences <i>(Psychology, Human Computer Interaction, Human Factors Engineering, Research Design and Statistics, Ergonomics, Neuropsychology, Memory, Sensation-Perception, Sociology) and Business</i> at the <a href="https://www.utah.edu/">Univeristy of Utah</a>: a top-tier research institution in the renown Association of American Universities <a href="https://www.aau.edu/who-we-are">(AAU)</a>. 
            <br>
            <br>

                 I founded Photonic House and Tellomee.
            
            <br>
            <br>

            </div>
            </div>
        </div>
</section>
