<section class="bg-primary" id="synopsis">
    <div class="container col-md-2">
        <div class="row">
            <div class="col-md-4">
                <p class="text-primary">
                <h2>
                    Welcome, fellow explorer.
                </h2>
                <br>
                Currently, I'm building Cerebro Link to decipher interconnected patterns encapsulating the human
                condition of emotion.
                <br>
                <br>
                A major goal is to improve outcomes in mental health and wellbeing with <a
                    href="https://mitsloan.mit.edu/ideas-made-to-matter/emotion-ai-explained">Emotion AI | Affective
                    Computing.</a>
                <br>
                <br>
                <blockquote>
                    At this very moment, you are a brain with 86 million neuronal cells, experiencing itself thinking
                    about the way another brain thinks.
                </blockquote>
                Cerebro utilizes Machine Learning, interdisciplinary research in Cognitive Behavioural Science, and
                Wearable Technologies to connect the dynamic links between The Brain, Body, Behaviour, and Environments.
                <br>
                <br>
                I studied Cognitive Behavioral Science <i>(Psychology, Human Computer Interaction, Human Factors
                    Engineering, Research Design and Statistics, Ergonomics, Neuropsychology, Memory,
                    Sensation-Perception, Sociology)</i> and Business at the <a href="https://www.utah.edu/">Univeristy
                    of Utah</a>: a select member of top-tier research institutions in the esteemed <a
                    href="https://www.aau.edu/who-we-are">Association of American Universities (AAU)</a>.
                <br>
                <br>
            </div>
            <div class="col">
                I founded Photonic House and Tellomee.
            </div>
            <div class="col">col</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                Level 1: .col-sm-9
                <div class="row">
                    <div class="col-8 col-sm-6">
                        Level 2: .col-8 .col-sm-6
                    </div>
                    <div class="col-4 col-sm-6">
                        Level 2: .col-4 .col-sm-6
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light">Custom column padding</div>
        <div class="col py-3 px-lg-5 border bg-light">Custom column padding</div>
    </div>
</div>